body {
  background-color: #EBD5B3;
  font-family: Garamond, Georgia, sans-serif;
  }/* Give your page a fun background color */

/* Make the header and footer a different color from the background */
#headerfooter {
  color: #781313;
  font-weight: bold;
}
/* Align the h1 containing your name in the center of the header*/
#h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
#p {
  font-style: italic;
  color: #b51212;
  text-align: center;
}
/* Put a border around your image */
#imgstyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img {
  border: 5px solid #000000;
  border-radius: 10px;
}
/* Change the font-family of your list */
#ul {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
